/* INDEX
  1. GENERAL STYLES
  2. UTILITY
  3. LAYOUT
  4. COMPONENTS
  5. JS CLASSES
*/

@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format(truetype)
    tech("variations");
  font-weight: 400 700;
  font-stretch: 50% 200%;
}

:root {
  --screen-mobile-size: 375px;
  --screen-tablet-size: 768px;
  --screen-desktop-size: 1024px;

  --b-radius-cards: 0.85rem;
  --c-red: hsl(14, 86%, 42%);
  --c-green: hsl(159, 69%, 38%);
  --c-rose-50: hsl(20, 50%, 98%);
  --c-rose-100: hsl(13, 31%, 94%);
  --c-rose-300: hsl(14, 25%, 72%);
  --c-rose-400: hsl(7, 20%, 60%);
  --c-rose-500: hsl(12, 20%, 44%);
  --c-rose-900: hsl(14, 65%, 9%);
}

/* === GENERAL STYLES === */
body {
  font-family: "Red Hat Text", sans-serif;
  margin: 0;
  background-color: var(--c-rose-100);
}
:is(h1, h2, p) {
  margin-top: 0;
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
picture {
  border-radius: var(--b-radius-cards);
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(185, 184, 184, 0.7);
  height: 180px;
}

/* === UTILITY ====*/
.clr-gray-light {
  color: var(--c-rose-300);
}
.clr-oragnge {
  color: var(--c-red);
}

/* ==== ICONS === */
.icon-btn-decrease,
.icon-btn-increase {
  path {
    fill: var(--c-rose-50);
  }
}

/* ==== LAYOUT ==== */
.main {
  padding-inline: 2rem;
  padding-block: 3rem;
}
.main__layout {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;

  .desserts {
    flex: 60%;
  }

  .cart-container {
    min-width: 200px;
    flex: 15%;
    justify-self: center;
  }

  @media (width < 560px) {
    flex-direction: column;
    align-items: center;
  }

  @media (width < 800px) {
    flex-direction: column;
    .desserts {
      flex: 100%;
    }
    .cart-container {
      flex: 100%;
    }
  }

  @media (950px <= width <= 1210px) {
    .desserts {
      flex: 50%;
    }
    .cart-container {
      flex: 20%;
    }
  }
}

.desserts__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 260px);
  justify-content: space-between;

  @media (950px <= width <= 1210px) {
    justify-content: center;
  }
}
/* CART */
.cart-container {
  background-color: var(--c-rose-50);
  padding: 1em;
  border-radius: var(--b-radius-cards);

  .card__btn {
    background-color: var(--c-red);
    color: white;
    width: 100%;
    height: 40px;
    margin-inline: auto;
    margin-top: 1rem;

    &:is(:hover, :focus) {
      background-color: var(--c-rose-900);
      outline-color: var(--c-rose-900);
    }
  }
}
.card__btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 1rem;
}
.list__item-content {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-rose-100);
}

/* === COMPONENTS === */

/* DESSERT */

.desserts__title {
  color: var(--c-rose-900);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.8em;
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  min-width: 250px;

  .card__img-container {
    min-height: 230px;
  }

  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card__overlay {
    display: grid;
    gap: 0.5rem;
    & > * {
      margin-bottom: 0;
    }
  }
}
.card__btn {
  background-color: var(--c-rose-50);
  border: none;
  padding: 6px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  cursor: pointer;

  .card__btn-text {
    font-weight: 400;
    line-height: 1;
    color: var(--c-rose-900);
  }

  &:is(:hover, :focus) {
    outline: 1px solid var(--c-red);

    .card__btn-text {
      color: var(--c-red);
    }
  }

  &.card__btn--active {
    background-color: var(--c-red);
    justify-content: space-between;
    color: var(--c-rose-50);
  }
}
:is(.card__btn-decrease, .card__btn-increase) {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--c-rose-50);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms ease-in-out 100ms;

  &:hover {
    background-color: var(--c-rose-50);

    .icon-btn-decrease,
    .icon-btn-increase {
      & path {
        fill: var(--c-red);
      }
    }
  }
}
.card__overlay {
  .card__dessert {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.cart {
  font-size: 0.9rem;
  .cart__title {
    color: var(--c-red);
  }
}

.cart__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart__img-text {
  font-weight: 600;
}

/* LIST */
.list {
  list-style: none;
  padding-left: 0;
  display: grid;
  row-gap: 1rem;
}
.list__product {
  font-weight: 600;
}
.list__price {
  margin-bottom: 0;
}

.amount-per-unit {
  margin-right: 0.5rem;
  font-weight: 600;
}
.cost-per-unit {
  margin-right: 0.3rem;
}
.list__item-total {
  font-weight: 600;
}

.list__item-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--c-rose-300);
  border: 1px solid currentColor;
  display: grid;
  padding: 0.1rem;
  place-items: center;
  cursor: pointer;

  &:is(:focus, :hover) {
    color: var(--c-rose-900);

    .icon-remove {
      fill: var(--c-rose-900);
    }
  }
}

.list__total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .list__total-price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--c-rose-900);
  }

  .list__total-text {
    font-size: 0.85rem;
  }
}

/* DISCLAIMER */
.disclaimer {
  padding: 0.85rem;
  border-radius: 10px;
  background-color: var(--c-rose-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  font-size: 0.85rem;

  p {
    margin-bottom: 0;
  }
}

/* ==== JS CLASSES ==== */
.js-hidden {
  display: none;
}
